--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn[standard]  # FastAPI'yi çalıştırmak için
pydantic
sentence-transformers
faiss-cpu  # veya faiss-gpu eğer GPU kullanacaksanız (Fly.io'da genellikle CPU)
numpy
fitz  # PyMuPDF için
google-generativeai
python-dotenv
langchain-text-splitters