--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
fastapi
uvicorn[standard]
langchain
sentence-transformers
faiss-cpu
PyMuPDF
numpy
pydantic
python-dotenv
google-generativeai
langchain-google-genai